In [27]:
# SQL - 원하는 데이터만 골라내기 (WHERE, LIKE)

# WHERE - 필터링을 담당하는 가장 중요한 SQL 문법 중 하나
#       - FROM으로 가져올 테이블을 정한 뒤, 특정 조건을 만족하는 행(row)만 걸러내는 필터

# LIKE - 패턴으로 필터링
#      - WHERE 절 안에서, 이메일 주소 'gmail'이 포함된 사람을 찾거나, '김'씨 성을 가진 사람을 찾는 등
#        글자에 특정 패턴이 포함된 데이터를 찾고 싶을 때
# %: 0개 이상의 모든 문자를 의미하는 만능카드
# _: 정확히 1개의 문자를 의미

# 'A%' - 'A'로 시작하는 모든 단어
# '%A' - 'A'로 끝나는 모든 단어
# '%A%' - 'A'를 포함하는 모든 단어

# 'A_' - 'A'로 시작하는 두 글자 단어 ex) AB, AC, AZ...
# '_A' - 'A'로 끝나는 두 글 단어 ex) BA, CA, ZA...
# 'A_A' - 'A'로 시작하고 'A'로 끝나는 세 글자 단어 ex) ABA, ACA, AZA...

In [29]:
# '마케팅'부서의 모든 직원 찾기
# SELECT * FROM employees WHERE department = 'Marketing';
# 1990년 이후에 태어난 모든 직원 찾기
# SELECT * FROM employees WHERE birth_year >= 1990;
# '영업(Sales)'부서이면서, 연봉(salary)이 50000 이상인 직원 찾기
# SELECT * FROM employees WHERE department = 'Sales' AND salary >= 50000;
# 이메일이 .com으로 끝나는 모든 직원 찾기
# SELECT * FROM employees WHERE email LIKE '%.com';
# 이름이 'J'로 시작하는 모든 직원 찾기
# SELECT * FROM employees WHERE first_name LIKE 'J%';

In [ ]:
# Practice

# SELECT * FROM products WHERE category = 'Electronics' AND price >= 1000;

# SELECT * FROM products WHERE product_name LIKE '%Galaxy%';

In [ ]:
# def get_price_tag(price):

#   if price >= 50000:
#       return("It is Hight-Price")

#   else:
#       return("It is Regular-Price")

# SELECT product_name, price
# FROM products
# WHERE category = 'Clothing'