In [73]:
import pandas as pd
import numpy as np

# 'Sue'의 점수가 비어있는 데이터
data = {
    'student': ['Owen', 'Amy', 'Sue', 'John'],
    'score': [85, 92, np.nan, 78]
}
df_mission1 = pd.DataFrame(data)

# 미션: 비어있는 score를 0으로 채우고 결과를 출력하세요.

df_filled = df_mission1.copy()

df_filled['score'] = df_filled['score'].fillna(0)

print(df_filled)

  student  score
0    Owen   85.0
1     Amy   92.0
2     Sue    0.0
3    John   78.0

In [76]:
import pandas as pd
import numpy as np

data = {
    'product_id': [101, 102, 103, 104],
    'price': [1500, np.nan, 800, 2200],
    'category': ['Fruit', 'Snack', np.nan, 'Drink']
}
df_mission2 = pd.DataFrame(data)

# 미션: 'price'가 비어있는 행만 제거하고 결과를 출력하세요.
# 힌트: dropna() 메소드에는 특정 열만 검사하는 'subset' 옵션이 있습니다: df.dropna(subset=['열이름'])
df_remove = df_mission2.dropna(subset=['price'])

print(df_remove)

   product_id   price category
0         101  1500.0    Fruit
2         103   800.0      NaN
3         104  2200.0    Drink

In [85]:
import pandas as pd
import numpy as np

data = {
    'city': ['Seoul', 'Busan', 'Seoul', 'Busan', 'Seoul', 'Busan'],
    'temp': [18, 22, 16, np.nan, np.nan, 24]
}
df_mission3 = pd.DataFrame(data)

# 미션: 각 도시의 비어있는 'temp'를 해당 도시의 평균 온도로 채우세요.
# 힌트: 5일차에 배운 groupby()와 6일차에 배운 fillna()를 조합해야 합니다.
#       groupby().transform('mean')을 사용하는 방법이 있습니다.

# 1. transform('mean')을 사용해 각 행에 맞는 그룹별 평균값을 생성합니다.
city_mean_transformed = df_mission3.groupby('city')['temp'].transform('mean')
# city_mean_transformed의 결과는 [17.0, 23.0, 17.0, 23.0, 17.0, 23.0] 와 같은 형태가 됩니다.

# 2. transform으로 얻은 결과로 결측치를 채웁니다.
df_mission3['temp'] = df_mission3['temp'].fillna(city_mean_transformed)

print(df_mission3)

    city  temp
0  Seoul  18.0
1  Busan  22.0
2  Seoul  16.0
3  Busan  23.0
4  Seoul  17.0
5  Busan  24.0