In [6]:
# Pandas - 데이터 잘라내고 골라내기
# 1. 위치로 잘라내기: .iloc
# .iloc: 데이터의 위치(순서)를 기반으로 원하는 행과 열을 잘라냄
# df.iloc[행], df.iloc[행, 열]

import pandas as pd

data = {
    'name': ['Owen', 'Amy', 'John', 'Sue'],
    'score': [95, 88, 70, 92],
    'city': ['Seoul', 'Busan', 'Jeju', 'Seoul']
}
df = pd.DataFrame(data)

print(df)
print("\n--- 첫 번째 행 ---")
print(df.iloc[0])
print("\n--- (0, 1) 위치의 값 ---")
print(df.iloc[0, 1])
print("\n--- 1, 2번 행 ---")
print(df.iloc[1:3])

   name  score   city
0  Owen     95  Seoul
1   Amy     88  Busan
2  John     70   Jeju
3   Sue     92  Seoul

--- 첫 번째 행 ---
name      Owen
score       95
city     Seoul
Name: 0, dtype: object

--- (0, 1) 위치의 값 ---
95

--- 1, 2번 행 ---
   name  score   city
1   Amy     88  Busan
2  John     70   Jeju

In [8]:
# 2. 조건으로 골라내기 (Boolean Indexing)
# 데이터 분석에서 가장 많이 쓰이는 방식. 특정 조건을 만족하는 행만 골라냄

# 'city'가 'Seoul'인 행만 골라내기
seoul_df = df[df['city'] == 'Seoul']
print("\n--- 서울 거주자 ---")
print(seoul_df)

# 'score'가 90점 이상인 행만 골라내기
high_score_df = df[df['score'] >= 90]
print("\n--- 90점 이상 고득점자 ---")
print(high_score_df)

--- 서울 거주자 ---
   name  score   city
0  Owen     95  Seoul
3   Sue     92  Seoul

--- 90점 이상 고득점자 ---
   name  score   city
0  Owen     95  Seoul
3   Sue     92  Seoul

In [10]:
import pandas as pd

data = {
    'product': ['A', 'B', 'C', 'D', 'E'],
    'price': [500, 1500, 800, 1200, 2000],
    'stock': [20, 15, 10, 5, 8]
}
df_mission = pd.DataFrame(data)

filtered = df_mission[df_mission['price'] >= 1000]

# 테이블 3번행 출력
print(df.iloc[2])
# price >= 1000만 출력
print(filtered)

name     John
score      70
city     Jeju
Name: 2, dtype: object
  product  price  stock
1       B   1500     15
3       D   1200      5
4       E   2000      8