In [18]:
# JOIN - Pandas의 merge와 같이, 여러 테이블에 흩어져 있는 데이터를 공통된 Key를 기준으로 합치는 기능
# JOIN의 필요성 - 실제 데이터베이스에서는 데이터를 한 곳에 모두 저장하지 않고, 주제별로 나누어 저장하는데, 이렇게 나뉜 테이블들을 연결해주는 핵심 도구
# INNER JOIN: 두 테이블의 교집합 * Pandas의 pd.merge(..., how='inner') 100% 동일한 개념
SELECT table1.column1, table2.column1
FROM table_A -- 왼쪽 테이블
INNER JOIN table_B -- 합칠 오른쪽 테이블
ON table_A.common_column = table_B.common_column; -- 두 테이블을 연결할 조건

SELECT Students.Name, Clubs.ClubName
FROM Students
INNER JOIN Clubs
ON Students.StudentID = Clubs.StudentID;

In [22]:
SELECT
    E.Department,
    AVG(S.Salary) as Average_Salary -- Salary의 평균을 계산하고 별명 붙이기
FROM
    Employees as E -- Employees 테이블에 E라는 별명 붙이기
INNER JOIN
    Salaries as S -- Salaries 테이블에 S라는 별명 붙이기
ON
    E.EmployeeID = S.EmployeeID
GROUP BY
    E.Department; -- 부서별로 그룹화


import pandas as pd
import matplotlib.pyplot as plt

# 위 SQL 쿼리의 결과를 Pandas DataFrame으로 변환했다고 가정
data = {
    'Department': ['HR', 'Engineering', 'Marketing', 'Sales'],
    'Average_Salary': [75000, 98000, 82000, 88000]
}
df_department_salary = pd.DataFrame(data)

plt.figure()
plt.bar(df_department_salary['Department'], df_department_salary['Average_Salary'])
plt.title('Average Salary by Department')
plt.xlabel('Department')
plt.ylabel('Avg Salary')
plt.show()

IndentationError: unexpected indent (811647726.py, line 2)